<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости детальная - Евразийский банк развития</title>
    <%= htmlWebpackPlugin.options.widgets.head %>
</head>
<body class="body" id="body" data-body>
    <div class="page">
        <%= htmlWebpackPlugin.options.widgets.header %>
        <main class="main main--regular">
            <section class="section section--start relative">
                <div class="aside-line z-index-2 mob-visible" data-aside-line="block">
                    <div class="aside-line__content" data-aside-line="content">
                        <a href="#aside-contents" class="button-contents" data-fancybox="menu-aside">
                            <svg class="button-contents__icon" aria-hidden="true">
                                <use href="./assets/sprite/sprite-svg.svg#icon-contents"></use>
                            </svg>
                            <span class="button-contents__text">
                                Разделы
                            </span>
                        </a>
                        <div class="hidden">
                            <div class="menu-contents" id="aside-contents">
                                <div class="menu-contents__head">
                                    <button class="menu-contents__button" data-fancybox-close>
                                        <span class="menu-contents__text">
                                            Закрыть
                                        </span>
                                        <svg class="menu-contents__icon" aria-hidden="true">
                                            <use href="./assets/sprite/sprite-svg.svg#icon-close"></use>
                                        </svg>
                                    </button>
                                </div>
                                <a href="" class="menu-contents__link">
                                    Новости
                                </a>
                                <a href="" class="menu-contents__link">
                                    События
                                </a>
                                <a href="" class="menu-contents__link">
                                    Видеоматериалы
                                </a>
                                <a href="" class="menu-contents__link">
                                    Творческий конкурс СМИ
                                </a>
                                <a href="" class="menu-contents__link">
                                    Контакты
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="grid">
                        <div class="grid__col grid__col--3 mob-hidden">
                            <aside class="nav-aside">
                                <a href="#" class="nav-aside__item nav-aside__item--active">
                                    Новости
                                </a>
                                <a href="#" class="nav-aside__item">
                                    События
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Видеоматериалы
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Творческий конкурс <br> СМИ
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Контакты
                                </a>
                            </aside>
                        </div>
                        <div class="grid__col grid__col--9 grid__col-mob--4">
                            <div class="mb-25 mbm-10">
                                <div class="breadcrumbs">
                                    Главная / <strong>О банке</strong>
                                </div>
                            </div>
                            <div class="mb-20">
                                <h1 class="title title--small" data-title="block">
                                    Президент Казахстана принял председателя Правления ЕАБР: итоги 20 лет и новые инвестиционные планы
                                </h1>
                            </div>
                            <div class="mb-30 mbm-20">
                                <time class="date-content" datetime="2026-04-10">
                                    10 апреля 2026
                                </time>
                            </div>
                            <div class="mb-35 mbm-20">
                                <div class="editor editor--page fz-20">
                                    <p>
                                        <b>Астана, 10 апреля 2026 года</b>
                                    </p>
                                    <p>
                                        В ходе встречи были обсуждены итоги двух десятилетий работы Евразийского банка развития и перспективы дальнейшего расширения инвестиционного сотрудничества.
                                    </p>
                                    <p>
                                        Президент Касым-Жомарт Токаев поздравил ЕАБР по случаю знаменательной даты – 20-летия со дня его основания. <br>
                                        Он подчеркнул, что Евразийский банк развития является одним из ключевых партнеров Казахстана в осуществлении стратегически значимых проектов.
                                    </p>
                                    <p>
                                        Президент был проинформирован о том, что за время осуществления реализации стратегии ЕАБР на 2022-2026 гг. совокупный объем инвестиций достиг 9,2 млрд долларов. В экономику Казахстана было инвестировано 5,2 млрд долларов – это сопоставимо с объемом инвестиций банка за предыдущие 15 лет. Порядка 2,1 млрд долларов направлено на развитие промышленности, 1 млрд долларов – в энергетику, 1 млрд долларов – в транспортную инфраструктуру, 1,1 млрд долларов – в финансовый сектор. Особое внимание уделяется поддержке цифровизации и внедрению технологий искусственного интеллекта.
                                    </p>
                                    <p>
                                        Касым-Жомарт Токаев отметил значительное расширение географии присутствия банка. По его мнению, это способствует реализации новых инициатив и укреплению региональной экономической интеграции. <br>
                                        По итогам встречи была подтверждена взаимная заинтересованность в дальнейшем укреплении стратегического партнерства и инвестиционного сотрудничества в интересах устойчивого развития экономики Казахстана.
                                    </p>
                                </div>
                            </div>
                            <div class="mb-20">
                                <div class="block-accent">
                                    <div class="editor editor--small fz-16">
                                        <h2>
                                            Справочно:
                                        </h2>
                                        <h3>
                                            Евразийский банк развития (ЕАБР) -
                                        </h3>
                                        <p>
                                            многосторонний банк развития, осуществляющий инвестиционную деятельность на евразийском пространстве. Уже 20 лет ЕАБР содействует укреплению и расширению экономических связей и всестороннему развитию стран-участниц. К концу декабря 2025 года
                                            в накопленном портфеле ЕАБР 326 проектов с общим объемом инвестиций на сумму 19,6 млрд долл. США. Основную долю в портфеле ЕАБР занимают проекты с интеграционным эффектом
                                            в сферах транспортной инфраструктуры, цифровых систем, зеленой энергетики, сельского хозяйства, промышленности и машиностроения. В своей деятельности Банк руководствуется Целями в области устойчивого развития ООН и принципами ESG.
                                        </p>
                                        <p>
                                            ЕАБР в рамках Стратегии 2022–2026 реализует 3 мегапроекта: «Водно-энергетический комплекс Центральной Азии», «Евразийский транспортный каркас», «Евразийская товаропроводящая сеть». 
                                        </p>
                                        <h3>
                                            Фонд цифровых инициатив ЕАБР (ФЦИ ЕАБР)
                                        </h3>
                                        <p>
                                            создан в июне 2020 года. Цель Фонда — оказание содействия в формировании инструментов и практик цифровой трансформации государств — участников ЕАБР, в том числе путем интеграции информационных ресурсов и участия в разработке и финансировании проектов. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-35 mbm-25">
                                <div class="block-links">
                                    <h2 class="block-links__title">
                                        Контакты <br>
                                        пресс-центра ЕАБР:
                                    </h2>
                                    <div class="block-links__content">
                                        <a href="tel:+77272444044" class="link-icon">
                                            <svg class="link-icon__icon" aria-hidden="true">
                                                <use href="./assets/sprite/sprite-svg.svg#icon-phone"></use>
                                            </svg>
                                            <span class="link-icon__text">
                                                +7 (727) 244 40 44, доб. 3730
                                            </span>
                                        </a>
                                        <a href="mailto:pressa@eabr.org" class="link-icon">
                                            <svg class="link-icon__icon" aria-hidden="true">
                                                <use href="./assets/sprite/sprite-svg.svg#icon-mail"></use>
                                            </svg>
                                            <span class="link-icon__text">
                                                pressa@eabr.org
                                            </span>
                                        </a>
                                        <a href="https://eabr.org" class="link-icon">
                                            <svg class="link-icon__icon" aria-hidden="true">
                                                <use href="./assets/sprite/sprite-svg.svg#icon-earth"></use>
                                            </svg>
                                            <span class="link-icon__text">
                                                eabr.org
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-fluid">
                                <div class="carousel-content" data-carousel="block">
                                    <div class="carousel-content__main">
                                        <div class="f-carousel" data-carousel="main">
                                            <div class="f-carousel__viewport">
                                                <div class="f-carousel__slide" data-thumb-src="./assets/images/1200x800.svg" data-caption="Подпись 1">
                                                    <article class="slide-carousel">
                                                        <img src="./assets/images/1200x800.svg" alt="">
                                                    </article>
                                                </div>
                                                <div class="f-carousel__slide" data-thumb-src="./assets/images/1200x800.svg" data-caption="Подпись 2">
                                                    <article class="slide-carousel">
                                                        <img src="./assets/images/1200x800.svg" alt="">
                                                    </article>
                                                </div>
                                                <div class="f-carousel__slide" data-thumb-src="./assets/images/1200x800.svg" data-caption="Подпись 3">
                                                    <article class="slide-carousel">
                                                        <img src="./assets/images/1200x800.svg" alt="">
                                                    </article>
                                                </div>
                                                <div class="f-carousel__slide" data-thumb-src="./assets/images/1200x800.svg" data-caption="Подпись 4">
                                                    <article class="slide-carousel">
                                                        <img src="./assets/images/1200x800.svg" alt="">
                                                    </article>
                                                </div>
                                                <div class="f-carousel__slide" data-thumb-src="./assets/images/1200x800.svg" data-caption="Подпись 5">
                                                    <article class="slide-carousel">
                                                        <img src="./assets/images/1200x800.svg" alt="">
                                                    </article>
                                                </div>
                                                <div class="f-carousel__slide" data-thumb-src="./assets/images/1200x800.svg" data-caption="Подпись 6">
                                                    <article class="slide-carousel">
                                                        <img src="./assets/images/1200x800.svg" alt="">
                                                    </article>
                                                </div>
                                                <div class="f-carousel__slide" data-thumb-src="./assets/images/1200x800.svg" data-caption="Подпись 7">
                                                    <article class="slide-carousel">
                                                        <img src="./assets/images/1200x800.svg" alt="">
                                                    </article>
                                                </div>
                                                <div class="f-carousel__slide" data-thumb-src="./assets/images/1200x800.svg" data-caption="Подпись 8">
                                                    <article class="slide-carousel">
                                                        <img src="./assets/images/1200x800.svg" alt="">
                                                    </article>
                                                </div>
                                                <div class="f-carousel__slide" data-thumb-src="./assets/images/1200x800.svg" data-caption="Подпись 9">
                                                    <article class="slide-carousel">
                                                        <img src="./assets/images/1200x800.svg" alt="">
                                                    </article>
                                                </div>
                                                <div class="f-carousel__slide" data-thumb-src="./assets/images/1200x800.svg" data-caption="Подпись 10">
                                                    <article class="slide-carousel">
                                                        <img src="./assets/images/1200x800.svg" alt="">
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="carousel-content__caption" data-carousel="caption"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%= htmlWebpackPlugin.options.widgets.footer %>
        <%= htmlWebpackPlugin.options.widgets.tempLinks %>
    </div>
</body>
</html>
