.pnews-main {
    background-color: #F3F3F3;
}

.pnews-main .ppp-banner__title {
    max-width: 1100px;
}

.pnews-filter-bar {
    margin-bottom: 24px;
}

.pnews-main .input-date__head {
    color: rgba(17, 17, 17, .6);
}

.article-video--plain .article-video__picture::before {
    display: none;
}

@media (max-width: 1260px) {
    .pnews-main .ppp-banner__title {
        font-size: 28px;
        line-height: 34px;
    }

    .pnews-main .mbm-15 {
        margin-bottom: 22px;
    }

    .pnews-filter-bar {
        margin-bottom: 20px;
    }
}
