<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости и события - Евразийский банк развития</title>
    <%= htmlWebpackPlugin.options.widgets.head %>
</head>
<body class="body" id="body" data-body>
    <div class="page">
        <%= htmlWebpackPlugin.options.widgets.header %>
        <main class="main main--regular">
            <section class="section">
                <%= htmlWebpackPlugin.options.widgets.introBlock %>
            </section>
            <section class="section section--start relative">
                <div class="aside-line z-index-2 mob-visible" data-aside-line="block">
                    <div class="aside-line__content" data-aside-line="content">
                        <a href="#aside-contents" class="button-contents" data-fancybox="menu-aside">
                            <svg class="button-contents__icon" aria-hidden="true">
                                <use href="/assets/sprite/sprite-svg.svg#icon-contents"></use>
                            </svg>
                            <span class="button-contents__text">
                                Разделы
                            </span>
                        </a>
                        <div class="hidden">
                            <div class="menu-contents" id="aside-contents">
                                <div class="menu-contents__head">
                                    <button class="menu-contents__button" data-fancybox-close>
                                        <span class="menu-contents__text">
                                            Закрыть
                                        </span>
                                        <svg class="menu-contents__icon" aria-hidden="true">
                                            <use href="/assets/sprite/sprite-svg.svg#icon-close"></use>
                                        </svg>
                                    </button>
                                </div>
                                <a href="" class="menu-contents__link">
                                    Новости
                                </a>
                                <a href="" class="menu-contents__link">
                                    События
                                </a>
                                <a href="" class="menu-contents__link">
                                    Видеоматериалы
                                </a>
                                <a href="" class="menu-contents__link">
                                    Творческий конкурс СМИ
                                </a>
                                <a href="" class="menu-contents__link">
                                    Контакты
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="grid">
                        <div class="grid__col grid__col--3 mob-hidden">
                            <aside class="nav-aside">
                                <a href="#" class="nav-aside__item nav-aside__item--active">
                                    Новости
                                </a>
                                <a href="#" class="nav-aside__item">
                                    События
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Видеоматериалы
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Творческий конкурс <br> СМИ
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Контакты
                                </a>
                            </aside>
                        </div>
                        <div class="grid__col grid__col--9 grid__col-mob--4">
                            <div class="mb-25 mbm-10">
                                <div class="breadcrumbs">
                                    Главная / <strong>О банке</strong>
                                </div>
                            </div>
                            <div class="mb-25 mbm-20">
                                <h1 class="title title--small title--underline" data-title="block">
                                    Новости Евразийского Банка Развития
                                </h1>
                            </div>
                            <div class="articles-content">
                                <div class="articles-content__filter">
                                    <form action="" class="filter-articles">
                                        <div class="filter-articles__vectors order-mob-2 select-app" data-select="block">
                                            <select data-select="field">
                                                <option value="" selected>Все направления</option>
                                                <option value="1">ESG</option>
                                                <option value="2">ГЧП</option>
                                                <option value="3">ФЦИ</option>
                                                <option value="4">ФТС</option>
                                            </select>
                                        </div>
                                        <div class="filter-articles__date input-date order-mob-3" data-datepicker="block">
                                            <input type="text" class="input-date__head" data-datepicker="head" value="Дата" readonly>
                                            <input name="date" type="text" class="input-date__field" data-datepicker="field" placeholder="Выберите дату">
                                        </div>
                                        <div class="filter-articles__search form-search order-mob-1">
                                            <input type="text" class="form-search__input">
                                            <button class="form-search__button">
                                            <span class="form-search__text">
                                                Поиск
                                            </span>
                                                <svg class="form-search__icon" aria-hidden="true">
                                                    <use href="/assets/sprite/sprite-svg.svg#icon-search"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="articles-content__main">
                                    <div class="grid grid--near">
                                        <div class="grid__col grid__col--12 grid__col-mob--4">
                                            <a href="" class="article-news-line">
                                                <picture class="article-news-line__picture">
                                                    <img src="/assets/images/1200x800.svg" alt="Евразийский банк развития стал призёром ежегодного конкурса годовых отчетов Kazakhstan Stock Exchange (KASE)">
                                                </picture>
                                                <div class="article-news-line__content">
                                                    <time class="article-news-line__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-news-line__title">
                                                        Евразийский банк развития стал призёром ежегодного конкурса годовых отчетов Kazakhstan Stock Exchange (KASE)
                                                    </p>
                                                    <div class="article-news-line__link">
                                                        <div class="link-more">
                                                            <span class="link-more__text">
                                                                Подробнее
                                                            </span>
                                                            <svg class="link-more__icon" aria-hidden="true">
                                                                <use href="/assets/sprite/sprite-svg.svg#icon-arrow-more"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--12 grid__col-mob--4">
                                            <a href="" class="article-news-line">
                                                <picture class="article-news-line__picture">
                                                    <img src="/assets/images/1200x800.svg" alt="Евразийский банк развития стал призёром ежегодного конкурса годовых отчетов Kazakhstan Stock Exchange (KASE)">
                                                </picture>
                                                <div class="article-news-line__content">
                                                    <time class="article-news-line__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-news-line__title">
                                                        Евразийский банк развития стал призёром ежегодного конкурса годовых отчетов Kazakhstan Stock Exchange (KASE)
                                                    </p>
                                                    <div class="article-news-line__link">
                                                        <div class="link-more">
                                                            <span class="link-more__text">
                                                                Подробнее
                                                            </span>
                                                            <svg class="link-more__icon" aria-hidden="true">
                                                                <use href="/assets/sprite/sprite-svg.svg#icon-arrow-more"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--12 grid__col-mob--4">
                                            <a href="" class="article-news-line">
                                                <picture class="article-news-line__picture">
                                                    <img src="/assets/images/1200x800.svg" alt="Евразийский банк развития стал призёром ежегодного конкурса годовых отчетов Kazakhstan Stock Exchange (KASE)">
                                                </picture>
                                                <div class="article-news-line__content">
                                                    <time class="article-news-line__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-news-line__title">
                                                        Евразийский банк развития стал призёром ежегодного конкурса годовых отчетов Kazakhstan Stock Exchange (KASE)
                                                    </p>
                                                    <div class="article-news-line__link">
                                                        <div class="link-more">
                                                            <span class="link-more__text">
                                                                Подробнее
                                                            </span>
                                                            <svg class="link-more__icon" aria-hidden="true">
                                                                <use href="/assets/sprite/sprite-svg.svg#icon-arrow-more"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--12 grid__col-mob--4">
                                            <a href="" class="article-news-line">
                                                <picture class="article-news-line__picture">
                                                    <img src="/assets/images/1200x800.svg" alt="Евразийский банк развития стал призёром ежегодного конкурса годовых отчетов Kazakhstan Stock Exchange (KASE)">
                                                </picture>
                                                <div class="article-news-line__content">
                                                    <time class="article-news-line__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-news-line__title">
                                                        Евразийский банк развития стал призёром ежегодного конкурса годовых отчетов Kazakhstan Stock Exchange (KASE)
                                                    </p>
                                                    <div class="article-news-line__link">
                                                        <div class="link-more">
                                                            <span class="link-more__text">
                                                                Подробнее
                                                            </span>
                                                            <svg class="link-more__icon" aria-hidden="true">
                                                                <use href="/assets/sprite/sprite-svg.svg#icon-arrow-more"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--12 grid__col-mob--4">
                                            <a href="" class="article-news-line">
                                                <picture class="article-news-line__picture">
                                                    <img src="/assets/images/1200x800.svg" alt="Евразийский банк развития стал призёром ежегодного конкурса годовых отчетов Kazakhstan Stock Exchange (KASE)">
                                                </picture>
                                                <div class="article-news-line__content">
                                                    <time class="article-news-line__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-news-line__title">
                                                        Евразийский банк развития стал призёром ежегодного конкурса годовых отчетов Kazakhstan Stock Exchange (KASE)
                                                    </p>
                                                    <div class="article-news-line__link">
                                                        <div class="link-more">
                                                            <span class="link-more__text">
                                                                Подробнее
                                                            </span>
                                                            <svg class="link-more__icon" aria-hidden="true">
                                                                <use href="/assets/sprite/sprite-svg.svg#icon-arrow-more"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--12 grid__col-mob--4">
                                            <a href="" class="article-news-line">
                                                <picture class="article-news-line__picture">
                                                    <img src="/assets/images/1200x800.svg" alt="Евразийский банк развития стал призёром ежегодного конкурса годовых отчетов Kazakhstan Stock Exchange (KASE)">
                                                </picture>
                                                <div class="article-news-line__content">
                                                    <time class="article-news-line__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-news-line__title">
                                                        Евразийский банк развития стал призёром ежегодного конкурса годовых отчетов Kazakhstan Stock Exchange (KASE)
                                                    </p>
                                                    <div class="article-news-line__link">
                                                        <div class="link-more">
                                                            <span class="link-more__text">
                                                                Подробнее
                                                            </span>
                                                            <svg class="link-more__icon" aria-hidden="true">
                                                                <use href="/assets/sprite/sprite-svg.svg#icon-arrow-more"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="articles-content__pagination">
                                    <div class="pagination">
                                        <a href="" class="pagination__button pagination__button--prev">
                                            <svg class="pagination__icon" aria-hidden="true">
                                                <use href="/assets/sprite/sprite-svg.svg#icon-arrow-left"></use>
                                            </svg>
                                            <span class="pagination__text">
                                                Назад
                                            </span>
                                        </a>
                                        <a href="" class="pagination__link pagination__link--first">1</a>
                                        <span class="pagination__link pagination__link--active">2</span>
                                        <a href="" class="pagination__link">3</a>
                                        <a href="" class="pagination__link">4</a>
                                        <span class="pagination__link pagination__link--static">...</span>
                                        <a href="" class="pagination__link pagination__link--end">10</a>
                                        <a href="" class="pagination__button pagination__button--next">
                                            <span class="pagination__text">
                                                Далее
                                            </span>
                                            <svg class="pagination__icon" aria-hidden="true">
                                                <use href="/assets/sprite/sprite-svg.svg#icon-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%= htmlWebpackPlugin.options.widgets.footer %>
    </div>
</body>
</html>
