<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title data-i18n="careersInternship.pageTitle">Стажировка и практика - Работайте с нами - Евразийский банк развития</title>
    <%= htmlWebpackPlugin.options.widgets.head %>
</head>
<body class="body" id="body" data-body>
<%
    const perks = [
        {
            icon: 'icon-cmpl-hotline',
            title: 'Менторская поддержка:',
            text: 'Каждому стажеру предоставляется опытный наставник, который поможет адаптироваться к&nbsp;рабочей среде и&nbsp;успешно выполнять свои обязанности.'
        },
        {
            icon: 'icon-isl-4',
            title: 'Международный опыт:',
            text: 'Мы&nbsp;активно ведем проекты в&nbsp;различных регионах присутствия ЕАБР. Стажеры имеют возможность получить опыт работы в&nbsp;международном контексте и&nbsp;развить свои навыки в&nbsp;межкультурном взаимодействии.'
        },
        {
            icon: 'icon-perk-3',
            title: 'Карьерные перспективы:',
            text: 'ЕАБР является престижной организацией в&nbsp;банковском секторе. Стажерская программа в&nbsp;ЕАБР откроет профессиональные перспективы и&nbsp;усилит опыт, позволит создать ценные связи, расширить свою профессиональную сеть и&nbsp;повысить шансы на&nbsp;будущие карьерные возможности в&nbsp;финансовой сфере'
        },
        {
            icon: 'icon-job-1',
            title: 'Профессиональное развитие:',
            text: 'Возможность начать карьеру под&nbsp;руководством опытных профессионалов и&nbsp;участвовать в&nbsp;различных инвестиционных проектах. Это позволит расширить свои знания и&nbsp;сформировать профессиональные навыки в&nbsp;области финансового сектора.'
        }
    ];
%>
    <div class="page">
        <%= htmlWebpackPlugin.options.widgets.header %>

        <%= htmlWebpackPlugin.options.widgets.careersNavDrawer %>

        <main class="main main--regular">
            <section class="section section--start relative">
                <div class="container">
                    <div class="grid">
                        <div class="grid__col grid__col--3 mob-hidden">
                            <%= htmlWebpackPlugin.options.widgets.careersNavAside %>
                        </div>

                        <div class="grid__col grid__col--9 grid__col-mob--4">
                            <div class="mb-25 mbm-15">
                                <div class="breadcrumbs">
                                    <span data-i18n="careers.breadcrumbHome">Главная</span> / <span data-i18n="careers.breadcrumbParent">Работайте с&nbsp;нами</span> / <strong data-i18n="careersInternship.breadcrumbCurrent">Стажировка и&nbsp;практика</strong>
                                </div>
                            </div>
                            <div class="mb-25 mbm-20">
                                <h1 class="title title--underline">
                                    <span class="title__inner" data-i18n="careersInternship.title">Стажировка и&nbsp;практика</span>
                                </h1>
                            </div>

                            <div class="hr-internship-intro mb-30 mbm-30">
                                <p data-i18n="careersInternship.intro">
                                    Стажёрская программа в&nbsp;Евразийском банке развития предоставляет отличную возможность для&nbsp;молодых специалистов развиваться в&nbsp;области международного банковского сектора, получить ценный опыт, расширить свои карьерные возможности, познакомиться с&nbsp;деятельностью одной из&nbsp;крупнейших международных финансовых организаций, непосредственно принять участие в&nbsp;развитии интеграционных процессов на&nbsp;евразийском пространстве.
                                </p>
                            </div>

                            <div class="hr-perks mob-hidden mb-40 mbm-30">
                                <% perks.forEach(function(p, i) { %>
                                <article class="hr-perk" data-spotlight-card="block" data-spotlight-color="rgba(180, 130, 255, 0.2)">
                                    <div class="hr-perk__icon ic-violet">
                                        <svg aria-hidden="true">
                                            <use href="/assets/sprite/sprite-svg.svg#<%= p.icon %>"></use>
                                        </svg>
                                    </div>
                                    <h3 class="hr-perk__title" data-i18n="careersInternship.perks.<%= i %>.title"><%= p.title %></h3>
                                    <p class="hr-perk__text" data-i18n="careersInternship.perks.<%= i %>.text"><%= p.text %></p>
                                </article>
                                <% }); %>
                            </div>

                            <div class="mob-visible mb-40 mbm-30">
                                <div class="hr-perks-swiper swiper" data-slider="perks">
                                    <div class="swiper-wrapper">
                                        <% perks.forEach(function(p, i) { %>
                                        <div class="swiper-slide">
                                            <article class="hr-perk" data-spotlight-card="block" data-spotlight-color="rgba(180, 130, 255, 0.2)">
                                                <div class="hr-perk__icon ic-violet">
                                                    <svg aria-hidden="true">
                                                        <use href="/assets/sprite/sprite-svg.svg#<%= p.icon %>"></use>
                                                    </svg>
                                                </div>
                                                <h3 class="hr-perk__title" data-i18n="careersInternship.perks.<%= i %>.title"><%= p.title %></h3>
                                                <p class="hr-perk__text" data-i18n="careersInternship.perks.<%= i %>.text"><%= p.text %></p>
                                            </article>
                                        </div>
                                        <% }); %>
                                    </div>
                                    <div class="hr-perks-swiper__dots" data-slider-pagination></div>
                                </div>
                            </div>

                            <div class="hr-info mb-30 mbm-20">
                                <p data-i18n="careersInternship.info.0">Также в&nbsp;Евразийском банке развития предусмотрено привлечение студентов, выпускников и&nbsp;магистрантов ВУЗов для&nbsp;прохождения практики в&nbsp;подразделениях Банка.</p>
                                <p data-i18n="careersInternship.info.1">Мы&nbsp;не&nbsp;проводим массовый набор молодых специалистов, только что&nbsp;закончивших учебу. Приём на&nbsp;практику осуществляется в&nbsp;отдельных случаях при&nbsp;возникновении потребности в&nbsp;дополнительных ресурсах.</p>
                            </div>

                            <div class="mb-30 mbm-20">
                                <h2 class="title title--small title--underline hr-internship-form-title">
                                    <span class="title__inner" data-i18n="careersInternship.formTitle">Если Вы&nbsp;хотите пройти практику в&nbsp;ЕАБР</span>
                                </h2>
                                <p class="hr-internship-form" data-i18n="careersInternship.formText">
                                    Заполните приложенный ниже Запрос и&nbsp;направьте его на&nbsp;адрес <a href="mailto:cv@eabr.org">cv@eabr.org</a> или заполните онлайн форму, прикрепив к&nbsp;ней заполненную форму Запроса и&nbsp;резюме. В&nbsp;случае заинтересованности мы&nbsp;свяжемся с&nbsp;Вами.
                                </p>
                            </div>

                            <blockquote class="hr-quote" data-animate="fadeInText" data-i18n="careersInternship.quote">
                                Мы&nbsp;создаём возможности для&nbsp;молодых специалистов стать частью команды международной финансовой организации, призванной содействовать экономическому росту государств-участников.
                            </blockquote>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%= htmlWebpackPlugin.options.widgets.footer %>
    </div>
</body>
</html>
