<div class="container">
    <h2 class="title title--small title--underline mb-40 mbm-35" data-title="block">
        Знаковые проекты
    </h2>
    <div class="swiper slider-regular-full" data-slider="regular-full">
        <div class="swiper-wrapper slider-regular-full__wrapper">
            <div class="swiper-slide slider-regular-full__slide">
                <article class="article-project-slide">
                    <picture class="article-project-slide__picture">
                        <img src="./assets/images/1920x1080.svg" alt="Расширение и модернизация Международного аэропорта Алматы">
                    </picture>
                    <div class="article-project-slide__content">
                        <div class="article-project-slide__item">
                            <img class="article-project-slide__icon" src="./assets/images/icon-project-1.svg" alt="#" aria-hidden="true">
                            <p class="article-project-slide__role">
                                Транспорт
                            </p>
                        </div>
                        <div class="article-project-slide__block">
                            <h3 class="article-project-slide__title">
                                Расширение
                                и модернизация Международного аэропорта Алматы
                            </h3>
                            <p class="article-project-slide__price">
                                $38,88 млн
                            </p>
                            <p class="article-project-slide__caption">
                                Сумма финансирования Банка
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="swiper-slide slider-regular-full__slide">
                <article class="article-project-slide">
                    <picture class="article-project-slide__picture">
                        <img src="./assets/images/1920x1080-green.svg" alt="Расширение и модернизация Международного аэропорта Алматы">
                    </picture>
                    <div class="article-project-slide__content">
                        <div class="article-project-slide__item">
                            <img class="article-project-slide__icon" src="./assets/images/icon-project-1.svg" alt="#" aria-hidden="true">
                            <p class="article-project-slide__role">
                                Строительство
                            </p>
                        </div>
                        <div class="article-project-slide__block">
                            <h3 class="article-project-slide__title">
                                2 Расширение
                                и модернизация Международного аэропорта Алматы
                            </h3>
                            <p class="article-project-slide__price">
                                $16,82 млн
                            </p>
                            <p class="article-project-slide__caption">
                                Сумма финансирования Банка
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="swiper-slide slider-regular-full__slide">
                <article class="article-project-slide">
                    <picture class="article-project-slide__picture">
                        <img src="./assets/images/1920x1080-blue.svg" alt="Расширение и модернизация Международного аэропорта Алматы">
                    </picture>
                    <div class="article-project-slide__content">
                        <div class="article-project-slide__item">
                            <img class="article-project-slide__icon" src="./assets/images/icon-project-1.svg" alt="#" aria-hidden="true">
                            <p class="article-project-slide__role">
                                Производство
                            </p>
                        </div>
                        <div class="article-project-slide__block">
                            <h3 class="article-project-slide__title">
                                3 Расширение
                                и модернизация Международного аэропорта Алматы
                            </h3>
                            <p class="article-project-slide__price">
                                $78,98 млн
                            </p>
                            <p class="article-project-slide__caption">
                                Сумма финансирования Банка
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="slider-regular-full__toolbar">
            <div class="slider-regular-full__pagination">
                <div class="pagination-dots" data-slider-pagination></div>
            </div>
            <div class="slider-regular-full__navigation">
                <div class="nav-slider">
                    <button class="nav-slider__button" data-slider-nav="prev">
                        <svg class="nav-slider__icon" aria-hidden="true">
                            <use href="./assets/sprite/sprite-svg.svg#icon-slider-prev"></use>
                        </svg>
                    </button>
                    <button class="nav-slider__button" data-slider-nav="next">
                        <svg class="nav-slider__icon" aria-hidden="true">
                            <use href="./assets/sprite/sprite-svg.svg#icon-slider-next"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
