<div class="container">
    <div class="grid mb-60 mbm-20">
        <div class="grid__col grid__col--4 grid__col-mob--4 mbm-20">
            <h2 class="title title--small title--underline" data-title="block">
                Наш фокус
            </h2>
        </div>
        <div class="grid__col grid__col--8 grid__col-mob--4">
            <div class="editor-simple fz-24">
                <p>
                    ЕАБР поддерживает инвестиционные проекты частного бизнеса, направленные на рост экономик и укрепление сотрудничества стран на евразийском пространстве.
                </p>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid__col grid__col--4 grid__col-mob--4">
            <article class="article-card-icon" data-spotlight-card="block" data-spotlight-color="rgba(0, 50, 175, 0.2)">
                <div class="article-card-icon__inner">
                    <img class="article-card-icon__icon" src="./assets/images/icon-focus-1.svg" alt="">
                    <h3 class="article-card-icon__title">
                        Развитие инфраструктуры
                    </h3>
                </div>
            </article>
        </div>
        <div class="grid__col grid__col--4 grid__col-mob--4">
            <article class="article-card-icon" data-spotlight-card="block" data-spotlight-color="rgba(0, 151, 216, 0.2)">
                <div class="article-card-icon__inner">
                    <img class="article-card-icon__icon" src="./assets/images/icon-focus-2.svg" alt="">
                    <h3 class="article-card-icon__title">
                        Укрепление <br>
                        промышленного потенциала
                    </h3>
                </div>
            </article>
        </div>
        <div class="grid__col grid__col--4 grid__col-mob--4">
            <article class="article-card-icon" data-spotlight-card="block" data-spotlight-color="rgba(8, 221, 122, 0.2)">
                <div class="article-card-icon__inner">
                    <img class="article-card-icon__icon" src="./assets/images/icon-focus-3.svg" alt="">
                    <h3 class="article-card-icon__title">
                        Качествнный рост АПК
                    </h3>
                </div>
            </article>
        </div>
        <div class="grid__col grid__col--4 grid__col-mob--4">
            <article class="article-card-icon" data-spotlight-card="block" data-spotlight-color="rgba(10, 170, 155, 0.2)">
                <div class="article-card-icon__inner">
                    <img class="article-card-icon__icon" src="./assets/images/icon-focus-4.svg" alt="">
                    <h3 class="article-card-icon__title">
                        Энергоэффективность <br>
                        и ресурсосбережение
                    </h3>
                </div>
            </article>
        </div>
        <div class="grid__col grid__col--4 grid__col-mob--4">
            <article class="article-card-icon" data-spotlight-card="block" data-spotlight-color="rgba(130, 70, 255, 0.2)">
                <div class="article-card-icon__inner">
                    <img class="article-card-icon__icon" src="./assets/images/icon-focus-5.svg" alt="">
                    <h3 class="article-card-icon__title">
                        Поддержка экспорта
                    </h3>
                </div>
            </article>
        </div>
        <div class="grid__col grid__col--4 grid__col-mob--4">
            <article class="article-card-icon" data-spotlight-card="block" data-spotlight-color="rgba(27, 206, 27, 0.2)">
                <div class="article-card-icon__inner">
                    <img class="article-card-icon__icon" src="./assets/images/icon-focus-6.svg" alt="">
                    <h3 class="article-card-icon__title">
                        “Чистая энергия”
                    </h3>
                </div>
            </article>
        </div>
    </div>
</div>
