<div class="container">
    <h2 class="title title--small title--underline mb-35" data-title="block">
        Новости
    </h2>
    <div class="swiper slider-cards" data-slider="slider-cards">
        <div class="swiper-wrapper slider-cards__wrapper">
            <div class="swiper-slide slider-cards__slide">
                <a href="" class="article-news">
                    <picture class="article-news__picture">
                        <img src="./assets/images/1200x800.svg" alt="">
                    </picture>
                    <div class="article-news__content">
                        <div class="article-news__toolbar">
                            <time datetime="2025-11-28" class="time-post">
                                28 ноября 2025
                            </time>
                            <span class="tag-article">
                                Машиностроение
                            </span>
                        </div>
                        <div class="article-news__editor editor-simple">
                            <p>
                                Экономики стран Евразии покажут рост до 9,3% в 2026 году: ЕАБР представил новый Макропрогноз
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide slider-cards__slide">
                <a href="" class="article-news">
                    <picture class="article-news__picture">
                        <img src="./assets/images/1200x800.svg" alt="">
                    </picture>
                    <div class="article-news__content">
                        <div class="article-news__toolbar">
                            <time datetime="2025-11-28" class="time-post">
                                28 ноября 2025
                            </time>
                            <span class="tag-article">
                                Машиностроение
                            </span>
                        </div>
                        <div class="article-news__editor editor-simple">
                            <p>
                                Экономики стран Евразии покажут рост до 9,3% в 2026 году: ЕАБР представил новый Макропрогноз
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide slider-cards__slide">
                <a href="" class="article-news">
                    <picture class="article-news__picture">
                        <img src="./assets/images/1200x800.svg" alt="">
                    </picture>
                    <div class="article-news__content">
                        <div class="article-news__toolbar">
                            <time datetime="2025-11-28" class="time-post">
                                28 ноября 2025
                            </time>
                            <span class="tag-article">
                                Машиностроение
                            </span>
                        </div>
                        <div class="article-news__editor editor-simple">
                            <p>
                                Экономики стран Евразии покажут рост до 9,3% в 2026 году: ЕАБР представил новый Макропрогноз
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide slider-cards__slide">
                <a href="" class="article-news">
                    <picture class="article-news__picture">
                        <img src="./assets/images/1200x800.svg" alt="">
                    </picture>
                    <div class="article-news__content">
                        <div class="article-news__toolbar">
                            <time datetime="2025-11-28" class="time-post">
                                28 ноября 2025
                            </time>
                            <span class="tag-article">
                                Машиностроение
                            </span>
                        </div>
                        <div class="article-news__editor editor-simple">
                            <p>
                                Экономики стран Евразии покажут рост до 9,3% в 2026 году: ЕАБР представил новый Макропрогноз
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide slider-cards__slide">
                <a href="" class="article-news">
                    <picture class="article-news__picture">
                        <img src="./assets/images/1200x800.svg" alt="">
                    </picture>
                    <div class="article-news__content">
                        <div class="article-news__toolbar">
                            <time datetime="2025-11-28" class="time-post">
                                28 ноября 2025
                            </time>
                            <span class="tag-article">
                                Машиностроение
                            </span>
                        </div>
                        <div class="article-news__editor editor-simple">
                            <p>
                                Экономики стран Евразии покажут рост до 9,3% в 2026 году: ЕАБР представил новый Макропрогноз
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide slider-cards__slide">
                <a href="" class="article-news">
                    <picture class="article-news__picture">
                        <img src="./assets/images/1200x800.svg" alt="">
                    </picture>
                    <div class="article-news__content">
                        <div class="article-news__toolbar">
                            <time datetime="2025-11-28" class="time-post">
                                28 ноября 2025
                            </time>
                            <span class="tag-article">
                                Машиностроение
                            </span>
                        </div>
                        <div class="article-news__editor editor-simple">
                            <p>
                                Экономики стран Евразии покажут рост до 9,3% в 2026 году: ЕАБР представил новый Макропрогноз
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="slider-cards__toolbar" >
            <div class="slider-cards__navigation">
                <div class="nav-slider">
                    <button class="nav-slider__button" data-slider-nav="prev">
                        <svg class="nav-slider__icon" aria-hidden="true">
                            <use href="./assets/sprite/sprite-svg.svg#icon-slider-prev"></use>
                        </svg>
                    </button>
                    <button class="nav-slider__button" data-slider-nav="next">
                        <svg class="nav-slider__icon" aria-hidden="true">
                            <use href="./assets/sprite/sprite-svg.svg#icon-slider-next"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="slider-cards__pagination">
                <div class="pagination-dots" data-slider-pagination></div>
            </div>
            <div class="mob-hidden">
                <a href="" class="button-arrow">
                    <span class="button-arrow__text">
                        Смотреть все новости
                    </span>
                    <svg class="button-arrow__icon" aria-hidden="true">
                        <use href="./assets/sprite/sprite-svg.svg#icon-arrow-more"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
