<div class="container container--large container--fill">
    <div class="slider-intro swiper" data-slider="intro">
        <div class="slider-intro__wrapper swiper-wrapper">
            <div class="slider-intro__slide swiper-slide">
                <div class="article-intro">
                    <div class="article-intro__left">
                        <picture class="article-intro__picture">
                            <img src="/assets/images/1920x1080-blue.svg" alt="">
                        </picture>
                    </div>
                    <div class="article-intro__right" data-clip="right">
                        <picture class="article-intro__picture">
                            <img src="/assets/images/1920x1080-green.svg" alt="">
                        </picture>
                    </div>
                    <div class="article-intro__content container">
                        <div class="intro-content intro-content--dark">
                            <div class="intro-content__main">
                                <h2 class="intro-content__title">
                                    Евразийский банк развития
                                </h2>
                                <div class="intro-content__editor editor-simple">
                                    <p>
                                        Многосторонний банк развития, призванный содействовать экономическому росту
                                        государств-участников
                                    </p>
                                </div>
                            </div>
                            <div class="intro-content__footer">
                                <div class="grow mob-visible"></div>
                                <div class="intro-count intro-count--light">
                                    <p class="intro-count__text">
                                        Доступная чистая <br>
                                        вода и энергия
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-intro__slide swiper-slide">
                <div class="article-intro">
                    <div class="article-intro__left">
                        <picture class="article-intro__picture">
                            <img src="/assets/images/1920x1080-blue.svg" alt="">
                        </picture>
                    </div>
                    <div class="article-intro__right" data-clip="right">
                        <picture class="article-intro__picture">
                            <img src="/assets/images/1920x1080-green.svg" alt="">
                        </picture>
                    </div>
                    <div class="article-intro__content container">
                        <div class="intro-content intro-content--dark">
                            <div class="intro-content__main">
                                <h2 class="intro-content__title">
                                    Евразийский банк развития
                                </h2>
                                <div class="intro-content__editor editor-simple">
                                    <p>
                                        Многосторонний банк развития, призванный содействовать экономическому росту
                                        государств-участников
                                    </p>
                                </div>
                            </div>
                            <div class="intro-content__footer">
                                <div class="grow mob-visible"></div>
                                <div class="intro-count intro-count--light">
                                    <p class="intro-count__text">
                                        Доступная чистая <br>
                                        вода и энергия
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-intro__toolbar">
            <div class="slider-intro__controls">
                <div class="nav-slider-circle">
                    <button class="nav-slider-circle__button" data-slider-nav="prev">
                        <svg class="nav-slider-circle__icon" aria-hidden="true">
                            <use href="/assets/sprite/sprite-svg.svg#icon-arrow-prev"></use>
                        </svg>
                    </button>
                    <button class="nav-slider-circle__button" data-slider-nav="next">
                        <svg class="nav-slider-circle__icon" aria-hidden="true">
                            <use href="/assets/sprite/sprite-svg.svg#icon-arrow-next"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="slider-intro__pagination">
                <div class="pagination-line" data-slider-pagination></div>
            </div>
        </div>
    </div>
</div>
<svg style="height:0; width:0; position:absolute;" aria-hidden="true">
    <clipPath id="wave"  clipPathUnits="userSpaceOnUse">
        <path id="wave-path" d=""/>
    </clipPath>

    <clipPath id="waveMobile" clipPathUnits="userSpaceOnUse">
        <path id="waveMobile-path" d=""/>
    </clipPath>
</svg>

<script>
    function updateClipPath() {
        const els = document.querySelectorAll('[data-clip="right"]');
        const isMobile = window.innerWidth <= 1260;

        els.forEach((el) => {
            const rect = el.getBoundingClientRect();
            const elWidth = rect.width;
            const elHeight = rect.height;

            let path;

            if (isMobile) {
                const scaleY = elHeight / 680;
                const o = (elWidth / 2) - (243 / 2);
                const s = scaleY;

                path = `M${o+114.172} ${0.061*s}
                C${o+116.567} ${-0.014*s} ${o+119.171} ${-0.025*s} ${o+121.949} ${0.057*s}
                L${elWidth} 0 V${elHeight}
                C${elWidth} ${elHeight} ${o+179.683} ${680*s} ${o+138.5} ${680*s}
                C${o+87.202} ${680*s} ${o+56.667} ${667.181*s} ${o+32.588} ${642.575*s}
                C${o+8.51} ${617.97*s} ${o-22.084} ${534.63*s} ${o+23.523} ${450.496*s}
                C${o+69.131} ${366.362*s} ${o+143.916} ${335.804*s} ${o+199.721} ${258.813*s}
                C${o+255.527} ${181.822*s} ${o+251.278} ${104.833*s} ${o+219.834} ${55.224*s}
                C${o+191.356} ${10.295*s} ${o+148.626} ${0.85*s} ${o+121.949} ${0.057*s}
                L${o+114.172} ${0.061*s} Z`;

                document.getElementById('waveMobile-path').setAttribute('d', path);
                el.style.clipPath = 'url(#waveMobile)';
            } else {
                const scaleY = elHeight / 800;
                const o = (elWidth / 2) - (425 / 2);
                const s = scaleY;

                path = `M${o+199.854} ${0.072*s}
                C${o+204.047} ${-0.016*s} ${o+208.605} ${-0.030*s} ${o+213.467} ${0.068*s}
                L${elWidth} 0 V${elHeight}
                C${elWidth} ${elHeight} ${o+314.817} ${800*s} ${o+243} ${800*s}
                C${o+153.5} ${800*s} ${o+99.193} ${787.862*s} ${o+57.044} ${758.806*s}
                C${o+14.896} ${729.75*s} ${o-38.658} ${631.335*s} ${o+41.177} ${531.982*s}
                C${o+121.011} ${432.63*s} ${o+251.92} ${396.545*s} ${o+349.605} ${305.628*s}
                C${o+447.291} ${214.711*s} ${o+439.853} ${123.795*s} ${o+384.812} ${65.214*s}
                C${o+334.962} ${12.157*s} ${o+260.164} ${1.003*s} ${o+213.467} ${0.068*s}
                L${o+199.854} ${0.072*s} Z`;

                document.getElementById('wave-path').setAttribute('d', path);
                el.style.clipPath = 'url(#wave)';
            }
        });
    }

    let rafId;
    window.addEventListener('resize', () => {
        cancelAnimationFrame(rafId);
        rafId = requestAnimationFrame(updateClipPath);
    });
    updateClipPath();
</script>
