<div class="container">
    <div class="grid mb-50 mbm-40">
        <div class="grid__col grid__col--4 grid__col-mob--4 mbm-20">
            <h2 class="title title--small title--underline" data-title="block">
                Наш вклад
            </h2>
        </div>
        <div class="grid__col grid__col--8 grid__col-mob--4">
            <div class="editor-simple fz-24">
                <p>
                    ЕАБР – ключевой партнер развития региона. <br>
                    Инвестиционные проекты ЕАБР способствуют значительному наращиванию потенциала роста экономик стран-участниц
                </p>
            </div>
        </div>
    </div>
    <div class="grid mb-45">
        <div class="grid__col grid__col--6 grid__col-mob--4 mbm-15">
            <article class="item-counter">
                <strong class="item-counter__number" data-animate="counter">
                    319
                </strong>
                <span class="item-counter__text">
                    Реализованных инвестиционных <br> проектов ЕАБР с 2006 г
                </span>
            </article>
        </div>
        <div class="grid__col grid__col--6 grid__col-mob--4">
            <article class="item-counter">
                <strong class="item-counter__number" >
                    $<span data-animate="counter">19,1</span>
                </strong>
                <span class="item-counter__text">
                    Накопленный портфель <br> инвестиций ЕАБР в экономику
                </span>
            </article>
        </div>
    </div>
    <div class="grid grid--center">
        <div class="grid__col grid__col--4 mbm-15">
            <div class="block-counter">
                <p class="block-counter__title block-counter__title--blue">
                    Проекты Банка способствуют:
                </p>
                <div class="block-counter__item">
                    <p class="block-counter__number">
                        >$14 млрд
                    </p>
                    <p class="block-counter__caption">
                        увеличение выпуска в экономике ежегодно
                    </p>
                </div>
                <hr class="line">
                <div class="block-counter__item">
                    <p class="block-counter__number">
                        >$1,5 млрд
                    </p>
                    <p class="block-counter__caption">
                        увеличение налоговых отчислений ежегодно
                    </p>
                </div>
                <hr class="line">
                <div class="block-counter__item">
                    <p class="block-counter__caption">
                        созданию
                    </p>
                    <p class="block-counter__number">
                        >44 000
                    </p>
                    <p class="block-counter__caption">
                        рабочих мест
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__col grid__col--4 mbm-15">
            <div class="item-factoid-circle">
                <div class="item-factoid-circle__circle" data-animate="grow">
                    <span class="item-factoid-circle__number">
                        $<span data-animate="counter">63,5</span>
                    </span>
                    <span class="item-factoid-circle__text">
                        млрд
                    </span>
                </div>
            </div>
        </div>
        <div class="grid__col grid__col--4">
            <div class="block-quote">
                <blockquote class="block-quote__inner" data-animate="fadeInSplit">
                    Общая сумма <br>
                    инвестиционных <br>
                    проектов <br>
                    с участием ЕАБР
                </blockquote>
            </div>
        </div>
    </div>
</div>
