<div class="container container--large container--fill">
    <div class="section-cover">
        <picture class="section-cover__picture">
            <img src="/assets/images/1920x1080.svg" alt="Фоновое изображение" aria-hidden="true">
        </picture>
        <div class="section-cover__container container">
            <div class="section-cover__content">
                <p class="section-cover__caption">
                    Устойчивое развитие
                </p>
                <div class="section-cover__main editor-simple" data-animate="fadeInSplit">
                    <p>
                        В своей деятельности Банк руководствуется целями в области устойчивого развития ООН <br class="mob-hidden"> и принципами ESG
                    </p>
                </div>
                <div class="section-cover__toolbar">
                    <a href="" class="button-blur button-blur--fix">
                        Подробнее
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
