@font-face {
  font-display: swap;
  font-family: 'Brown LL Pan';
  src: url('./assets/fonts/BrownLLPan-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Brown LL Pan';
  src: url('./assets/fonts/BrownLLPan-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Brown LL Pan';
  src: url('./assets/fonts/BrownLLPan-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
