.mob-visible {
  display: none;
  visibility: hidden;
}

@media (width <= 1260px) {
  .mob-visible {
    display: block;
    visibility: visible;
  }

  .mob-hidden {
    display: none;
    visibility: hidden;
  }
}
