.z-index {
    &-2 {
        z-index: 2;
    }
}

.relative {
    position: relative;
}

.hidden {
	display: none;
}

.fz {
	&-16 {
		font-size: r(16);
		line-height: 1.2;
	}

	&-20 {
		font-size: r(24);
		line-height: 1.25;
	}

	&-24 {
		font-size: r(24);
		line-height: 1.2;
	}
}

.grow {
	flex-grow: 1;
}

@media (max-width: 1260px) {
	.fz-mob {
		&-20 {
			font-size: r(20);
			line-height: 1.25;
		}
	}
}
