:root {
  --white: #fff;
  --light: #edf5f8;
  --black: #000;
  --dark: #111;
  --dark-light: rgb(17 17 17 / 60%);
  --dark-white: rgb(17 17 17 / 40%);
  --blue: #0097d8;
  --super-blue: #24d6ff;
  --blue-light: #e7f2f6;
  --green: #1bce1b;
  --teal: #0aaa9b;
  --super-green: #37ee50;
  --base-font-size: 16;
  --font-regular: 'Brown LL Pan', 'Roboto', sans-serif;
}
