.article-card-icon {
	height: 100%;
	position: relative;
	border-radius: r(24);
	border: 1px solid #E5EEF2;

	&__inner {
		gap: r(8);
		z-index: 1;
		height: 100%;
		display: flex;
		padding: r(15);
		position: relative;
		flex-direction: column;
		justify-content: space-between;
	}

	&__icon {
		width: r(80);
		height: r(80);
		display: block;
	}

	&__title {
		font-size: r(20);
		line-height: 1.2;
	}
}
