.button-arrow {
	gap: r(32);
	height: r(54);
	display: flex;
	padding: 0 r(40);
	overflow: hidden;
	position: relative;
	width: fit-content;
	align-items: center;
	border-radius: r(54);

	&:after {
		content: '';
		inset: 0 -60px;
		position: absolute;
		width: calc(300% + 220px);
		transform: translateX(-66.66%);
		transition: transform 0.4s ease;
		background: linear-gradient(15deg, #24D6FF 0%, #24D6FF 33%, #A0EDFF 66%, #A0EDFF 100%);
	}

	&:hover {
		&:after {
			transform: translateX(-33.33%);
		}
	}

	&:active {
		&:after {
			transform: translateX(0%);
		}
	}

	&__icon {
		z-index: 1;
		width: r(22);
		height: r(22);
		fill: #111111;
		display: block;
		position: relative;
	}

	&__text {
		z-index: 1;
		line-height: 1.2;
		font-size: r(24);
		position: relative;
	}
}
