.lang-switcher {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 7px;
}

.lang-switcher.lang-switcher--dark .lang-switcher__link {
	color: var(--dark);
}

.lang-switcher.active .lang-switcher__dropdown {
	opacity: 1;
	visibility: visible;
}

.lang-switcher__dropdown {
	position: absolute;
	top: 100%;
	left: -11px;
	display: flex;
	flex-direction: column;
	padding: 12px 6px 12px 12px;
	min-width: 85px;
	background-color: var(--white);
	border-radius: 0 0 10px 10px;
	opacity: 0;
	visibility: hidden;
	transition: .2s ease;
	z-index: 3;
}

.lang-switcher__dropdown .lang-switcher__link {
	padding: 11px 0;
	font-size: 18px;
	font-weight: 400;
	border-top: 1px solid #00000014;
}

.lang-switcher__dropdown .lang-switcher__link:last-child {
	padding-bottom: 0;
}

.lang-switcher__link {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--dark);

	&:hover {
		color: #00D900;
	}
}

.lang-switcher__link svg {
	display: flex;
	width: 18px;
	height: 18px;
}
