.menu-contents {
	min-height: 100vh;
	border: 1px solid blue;
	border-left: 2px solid #37EE50;

	&__head {
		display: flex;
		justify-content: flex-end;
		padding: r(15) r(21) 0 r(21);
	}

	&__button {
		gap: r(12);
		height: r(34);
		display: flex;
		padding: 0 r(12);
		align-items: center;
	}

	&__text {
		font-size: r(16);
		text-transform: uppercase;
	}

	&__icon {
		width: r(16);
		height: r(16);
	}

	&__link {
		display: block;
		font-size: r(18);
		min-height: r(62);
		line-height: 1.25;
		padding: r(15) r(22);
	}
}

.fancybox-aside-contents {
	.fancybox {
		&__slide {
			padding: 0;
		}

		&__content {
			padding: 0;
			width: 100%;
		}
	}
}
