.nav-slider-circle {
	gap: r(32);
	display: flex;

	&__button {
		width: r(58);
		height: r(58);
		display: flex;
		cursor: pointer;
		align-items: center;
		border-radius: r(100);
		justify-content: center;
		border: 1px solid #ffffff;
		backdrop-filter: blur(4px);

		&.disabled {
			opacity: 0.4;
			pointer-events: none;
		}
	}

	&__icon {
		width: r(24);
		height: r(24);
		fill: #ffffff;
	}
}
