.slider-cards {
	gap: r(50);
	display: flex;
	overflow: visible;
	flex-direction: column;

	@media (max-width: 1260px) {
		gap: r(35);
	}

	&__wrapper {

	}

	&__slide {
		width: r(388);

		@media (max-width: 1260px) {
			width: r(340);
		}
	}

	&__toolbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__navigation {
		@media (max-width: 1260px) {
			display: none;
		}
	}

	&__pagination {
		display: none;

		@media (max-width: 1260px) {
			display: block;
		}
	}
}
