.article-intro {
	height: r(800);
	position: relative;
	background-color: pink;

	&__left {
		top: 0;
		left: 0;
		//right: 0;
		width: 65%;
		bottom: 0;
		position: absolute;
		background-color: green;
	}

	&__right {
		top: 0;
		//left: 0;
		right: 0;
		bottom: 0;
		width: 65%;
		position: absolute;
		background-color: blue;
		clip-path: url(#svgPath);
	}
}
