.title {
	display: block;
	width: fit-content;

	&--large {

	}

	&--small {
		font-size: r(34);
		line-height: 1.2;
	}

	&--underline {
		& > .title__inner {
			background-image: linear-gradient(#37EE50, #37EE50);
			background-repeat: no-repeat;
			background-position: 0 100%;
			background-size: 0 4px;
			padding-bottom: 6px;
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
			transition: background-size 0.8s ease 0.2s;
		}

		&.is-animated > .title__inner {
			background-size: 100% 4px;
		}
	}
}

@media (max-width: 1260px) {

}
