<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Творческий конкурс - Евразийский банк развития</title>
    <%= htmlWebpackPlugin.options.widgets.head %>
</head>
<body class="body" id="body" data-body>
    <div class="page">
        <%= htmlWebpackPlugin.options.widgets.header %>
        <main class="main main--regular">
            <section class="section section--start relative">
                <div class="aside-line z-index-2 mob-visible" data-aside-line="block">
                    <div class="aside-line__content" data-aside-line="content">
                        <a href="#aside-contents" class="button-contents" data-fancybox="menu-aside">
                            <svg class="button-contents__icon" aria-hidden="true">
                                <use href="./assets/sprite/sprite-svg.svg#icon-contents"></use>
                            </svg>
                            <span class="button-contents__text">
                                Разделы
                            </span>
                        </a>
                        <div class="hidden">
                            <div class="menu-contents" id="aside-contents">
                                <div class="menu-contents__head">
                                    <button class="menu-contents__button" data-fancybox-close>
                                        <span class="menu-contents__text">
                                            Закрыть
                                        </span>
                                        <svg class="menu-contents__icon" aria-hidden="true">
                                            <use href="./assets/sprite/sprite-svg.svg#icon-close"></use>
                                        </svg>
                                    </button>
                                </div>
                                <a href="" class="menu-contents__link">
                                    Новости
                                </a>
                                <a href="" class="menu-contents__link">
                                    События
                                </a>
                                <a href="" class="menu-contents__link">
                                    Видеоматериалы
                                </a>
                                <a href="" class="menu-contents__link">
                                    Творческий конкурс СМИ
                                </a>
                                <a href="" class="menu-contents__link">
                                    Контакты
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="grid">
                        <div class="grid__col grid__col--3 mob-hidden">
                            <aside class="nav-aside">
                                <a href="#" class="nav-aside__item">
                                    Новости
                                </a>
                                <a href="#" class="nav-aside__item">
                                    События
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Видеоматериалы
                                </a>
                                <a href="#" class="nav-aside__item nav-aside__item--active">
                                    Творческий конкурс <br> СМИ
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Контакты
                                </a>
                            </aside>
                        </div>
                        <div class="grid__col grid__col--9 grid__col-mob--4">
                            <div class="mb-25 mbm-10">
                                <div class="breadcrumbs">
                                    Главная / Новости и события / <strong>Творческий конкурс СМИ</strong>
                                </div>
                            </div>
                            <div class="mb-25 mbm-20">
                                <h1 class="title title--small title--underline" data-title="block">
                                    Конкурс для СМИ «EDB Media Awards»
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%= htmlWebpackPlugin.options.widgets.footer %>
        <%= htmlWebpackPlugin.options.widgets.tempLinks %>
    </div>
</body>
</html>
