<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Евразийский банк развития</title>
    <%= htmlWebpackPlugin.options.widgets.head %>
</head>
<body class="body" id="body" data-body>
    <div class="page">
        <%= htmlWebpackPlugin.options.widgets.header %>
        <main class="main main--front">
            <section class="section mb-90 mbm-60">
                <%= htmlWebpackPlugin.options.widgets.sectionSliderIntro %>
            </section>
            <section class="section mb-185 mbm-120">
                <%= htmlWebpackPlugin.options.widgets.sectionFrontNews %>
            </section>
            <section class="section mb-160 mbm-120">
                <%= htmlWebpackPlugin.options.widgets.sectionFrontFocus %>
            </section>
            <section class="section mb-190 mbm-120">
                <div class="container">
                    Стратегия 2022-2026
                </div>
            </section>
            <section class="section mb-190 mbm-160">
                <div class="container">
                    Знаковые проекты
                </div>
            </section>
            <section class="section mb-155 mbm-120">
                <div class="container">
                    Наш вклад
                </div>
            </section>
            <section class="section mb-80 mbm-60">
                <%= htmlWebpackPlugin.options.widgets.sectionFrontDevelopment %>
            </section>
            <section class="section">
                <%= htmlWebpackPlugin.options.widgets.sectionFrontAnalytics %>
            </section>
        </main>
        <%= htmlWebpackPlugin.options.widgets.footer %>
        <%= htmlWebpackPlugin.options.widgets.tempLinks %>
    </div>
</body>
</html>
