<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости детальная - Евразийский банк развития</title>
    <%= htmlWebpackPlugin.options.widgets.head %>
</head>
<body class="body" id="body" data-body>
    <div class="page">
        <%= htmlWebpackPlugin.options.widgets.header %>
        <main class="main main--regular">
            <section class="section section--start">
                <div class="container">
                    <div class="grid">
                        <div class="grid__col grid__col--3 mob-hidden">
                            <aside class="nav-aside">
                                <a href="#" class="nav-aside__item nav-aside__item--active">
                                    Новости
                                </a>
                                <a href="#" class="nav-aside__item">
                                    События
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Видеоматериалы
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Творческий конкурс <br> СМИ
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Контакты
                                </a>
                            </aside>
                        </div>
                        <div class="grid__col grid__col--9 grid__col-mob--4">
                            <div class="mb-25 mbm-10">
                                <div class="breadcrumbs">
                                    Главная / <strong>О банке</strong>
                                </div>
                            </div>
                            <div class="mb-20">
                                <h1 class="title title--small">
                                    Президент Казахстана принял председателя Правления ЕАБР: итоги 20 лет и новые инвестиционные планы
                                </h1>
                            </div>
                            <div class="mb-30 mbm-20">
                                <time class="date-content" datetime="2026-04-10">
                                    10 апреля 2026
                                </time>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%= htmlWebpackPlugin.options.widgets.footer %>
        <%= htmlWebpackPlugin.options.widgets.tempLinks %>
    </div>
</body>
</html>
