<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Видеоматериалы - Евразийский банк развития</title>
    <%= htmlWebpackPlugin.options.widgets.head %>
</head>
<body class="body" id="body" data-body>
    <div class="page">
        <%= htmlWebpackPlugin.options.widgets.header %>
        <main class="main main--regular">
            <section class="section">
                <%= htmlWebpackPlugin.options.widgets.introBlock %>
            </section>
            <section class="section section--start">
                <div class="container">
                    <div class="grid">
                        <div class="grid__col grid__col--3 mob-hidden">
                            <aside class="nav-aside">
                                <a href="#" class="nav-aside__item">
                                    Новости
                                </a>
                                <a href="#" class="nav-aside__item">
                                    События
                                </a>
                                <a href="#" class="nav-aside__item nav-aside__item--active">
                                    Видеоматериалы
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Творческий конкурс <br> СМИ
                                </a>
                                <a href="#" class="nav-aside__item">
                                    Контакты
                                </a>
                            </aside>
                        </div>
                        <div class="grid__col grid__col--9 grid__col-mob--4">
                            <div class="articles-content">
                                <div class="articles-content__filter">
                                    Фильтр
                                </div>
                                <div class="articles-content__main">
                                    <div class="grid grid--near">
                                        <div class="grid__col grid__col--4 grid__col-mob--4">
                                            <a href="" class="article-video">
                                                <picture class="article-video__picture">
                                                    <img src="./assets/images/1200x800.svg" alt="Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк">
                                                </picture>
                                                <div class="article-video__content">
                                                    <time class="article-video__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-video__title">
                                                        Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--4 grid__col-mob--4">
                                            <a href="" class="article-video">
                                                <picture class="article-video__picture">
                                                    <img src="./assets/images/1200x800.svg" alt="Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк">
                                                </picture>
                                                <div class="article-video__content">
                                                    <time class="article-video__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-video__title">
                                                        Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--4 grid__col-mob--4">
                                            <a href="" class="article-video">
                                                <picture class="article-video__picture">
                                                    <img src="./assets/images/1200x800.svg" alt="Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк">
                                                </picture>
                                                <div class="article-video__content">
                                                    <time class="article-video__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-video__title">
                                                        Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--4 grid__col-mob--4">
                                            <a href="" class="article-video">
                                                <picture class="article-video__picture">
                                                    <img src="./assets/images/1200x800.svg" alt="Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк">
                                                </picture>
                                                <div class="article-video__content">
                                                    <time class="article-video__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-video__title">
                                                        Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--4 grid__col-mob--4">
                                            <a href="" class="article-video">
                                                <picture class="article-video__picture">
                                                    <img src="./assets/images/1200x800.svg" alt="Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк">
                                                </picture>
                                                <div class="article-video__content">
                                                    <time class="article-video__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-video__title">
                                                        Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--4 grid__col-mob--4">
                                            <a href="" class="article-video">
                                                <picture class="article-video__picture">
                                                    <img src="./assets/images/1200x800.svg" alt="Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк">
                                                </picture>
                                                <div class="article-video__content">
                                                    <time class="article-video__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-video__title">
                                                        Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--4 grid__col-mob--4">
                                            <a href="" class="article-video">
                                                <picture class="article-video__picture">
                                                    <img src="./assets/images/1200x800.svg" alt="Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк">
                                                </picture>
                                                <div class="article-video__content">
                                                    <time class="article-video__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-video__title">
                                                        Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--4 grid__col-mob--4">
                                            <a href="" class="article-video">
                                                <picture class="article-video__picture">
                                                    <img src="./assets/images/1200x800.svg" alt="Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк">
                                                </picture>
                                                <div class="article-video__content">
                                                    <time class="article-video__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-video__title">
                                                        Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--4 grid__col-mob--4">
                                            <a href="" class="article-video">
                                                <picture class="article-video__picture">
                                                    <img src="./assets/images/1200x800.svg" alt="Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк">
                                                </picture>
                                                <div class="article-video__content">
                                                    <time class="article-video__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-video__title">
                                                        Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--4 grid__col-mob--4">
                                            <a href="" class="article-video">
                                                <picture class="article-video__picture">
                                                    <img src="./assets/images/1200x800.svg" alt="Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк">
                                                </picture>
                                                <div class="article-video__content">
                                                    <time class="article-video__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-video__title">
                                                        Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--4 grid__col-mob--4">
                                            <a href="" class="article-video">
                                                <picture class="article-video__picture">
                                                    <img src="./assets/images/1200x800.svg" alt="Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк">
                                                </picture>
                                                <div class="article-video__content">
                                                    <time class="article-video__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-video__title">
                                                        Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid__col grid__col--4 grid__col-mob--4">
                                            <a href="" class="article-video">
                                                <picture class="article-video__picture">
                                                    <img src="./assets/images/1200x800.svg" alt="Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк">
                                                </picture>
                                                <div class="article-video__content">
                                                    <time class="article-video__date" datetime="2026-03-12">
                                                        12 марта 2026
                                                    </time>
                                                    <p class="article-video__title">
                                                        Евгений Винокуров о перспективах Центральной Азии как одного из наиболее быстрорастущих регионов мира — интервью с длинными описанием в несколько строк
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="articles-content__pagination">
                                    <div class="pagination">
                                        <!-- Если это первая или последняя страницы, то тег в соответствующей кнопке меняем с <a> на <span> -->
                                        <a href="" class="pagination__button pagination__button--prev">
                                            <svg class="pagination__icon">
                                                <use href="./assets/sprite/sprite-svg.svg#icon-arrow-left"></use>
                                            </svg>
                                            <span class="pagination__text">
                                                Назад
                                            </span>
                                        </a>
                                        <a href="" class="pagination__link pagination__link--first">1</a>
                                        <span class="pagination__link pagination__link--active">2</span>
                                        <a href="" class="pagination__link">3</a>
                                        <a href="" class="pagination__link">4</a>
                                        <span class="pagination__link pagination__link--static">...</span>
                                        <a href="" class="pagination__link pagination__link--end">10</a>
                                        <a href="" class="pagination__button pagination__button--next">
                                            <span class="pagination__text">
                                                Далее
                                            </span>
                                            <svg class="pagination__icon">
                                                <use href="./assets/sprite/sprite-svg.svg#icon-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%= htmlWebpackPlugin.options.widgets.footer %>
        <%= htmlWebpackPlugin.options.widgets.tempLinks %>
    </div>
</body>
</html>
