.isl-form {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: r(14);
}

.isl-form__row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: r(12);
}

.isl-field {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: r(20);
	padding: r(24) r(32);
	background: var(--white);
	border-radius: r(32);
}

.isl-field__label {
	font-size: r(24);
	line-height: r(29);
	color: #000;
	margin: 0;
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	[data-isl-counter] {
		font-size: r(16);
		line-height: r(19);
		color: rgba(17, 17, 17, .4);
	}
}

.isl-field__input,
.isl-field__textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin: 0;
	border: none;
	border-bottom: 1px solid var(--green);
	background: transparent;
	font-size: r(20);
	line-height: r(24);
	color: rgba(17, 17, 17, .8);
	font-family: inherit;
	padding: 0 0 r(8) 0;
	outline: none;
	resize: none;
	transition: box-shadow .2s;

	&::placeholder {
		color: rgba(0, 0, 0, .4);
	}

	&:focus-visible {
		box-shadow: 0 1px 0 0 #1BCE1B;
	}
}

.isl-field__textarea {
	height: r(32);
	overflow: hidden;
	overflow-wrap: break-word;
	word-break: break-word;
	white-space: pre-wrap;
}

.isl-field--error {
	border-bottom-color: rgba(255, 0, 0, .8) !important;

	&:focus-visible {
		box-shadow: 0 1px 0 0 rgba(255, 0, 0, .8);
	}
}

.isl-field__error {
	margin-top: r(-12);
	font-size: r(16);
	line-height: r(19);
	color: rgba(211, 0, 0, .8);
}

.isl-counter--max {
	color: #D30000 !important;
}

.isl-form__bottom-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: r(20);
}

.isl-form__consent-error {
	display: none;
	font-size: r(16);
	line-height: r(19);
	color: rgba(211, 0, 0, .8);
}

.isl-form__bottom--consent-error .isl-form__consent-error {
	display: block;
}

.isl-form__bottom--consent-error .isl-consent__box {
	border-color: rgba(255, 0, 0, .8);
}

.isl-form--ready .isl-submit {
	opacity: 1;
}

.isl-form__success {
	display: none;
	font-size: r(24);
	line-height: r(29);
	color: var(--dark);
	text-align: center;
	margin-top: r(8);
}

.isl-form--submitted {
	.isl-form__success { display: block; }
	.isl-form__bottom { display: none; }
	.isl-form__row, .isl-field { opacity: .6; pointer-events: none; }
}

.isl-form__bottom {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: r(24);
	margin-top: r(18);
}

